In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import netCDF4
from mpl_toolkits.basemap import Basemap
from datetime import datetime

In [2]:
#!curl -O http://data.giss.nasa.gov/pub/gistemp/gistemp1200_ERSSTv5.nc.gz
#!gunzip gistemp1200_ERSSTv5.nc.gz

In [3]:
data = netCDF4.Dataset('gistemp1200_ERSSTv5.nc')

In [4]:
data

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_CLASSIC data model, file format NETCDF3):
    title: GISTEMP Surface Temperature Analysis
    institution: NASA Goddard Institute for Space Studies
    source: http://data.giss.nasa.gov/gistemp/
    Conventions: CF-1.6
    history: Created 2019-04-12 10:51:15 by SBBX_to_nc 2.0 - ILAND=1200, IOCEAN=NCDC/ER5, Base: 1951-1980
    dimensions(sizes): lat(90), lon(180), time(1671), nv(2)
    variables(dimensions): float32 lat(lat), float32 lon(lon), int32 time(time), int32 time_bnds(time,nv), int16 tempanomaly(time,lat,lon)
    groups:

In [5]:
data.variables

OrderedDict([('lat', <class 'netCDF4._netCDF4.Variable'>
              float32 lat(lat)
                  standard_name: latitude
                  long_name: Latitude
                  units: degrees_north
              unlimited dimensions:
              current shape = (90,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('lon', <class 'netCDF4._netCDF4.Variable'>
              float32 lon(lon)
                  standard_name: longitude
                  long_name: Longitude
                  units: degrees_east
              unlimited dimensions:
              current shape = (180,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('time', <class 'netCDF4._netCDF4.Variable'>
              int32 time(time)
                  long_name: time
                  units: days since 1800-01-01 00:00:00
                  bounds: time_bnds
              unlimited dimensions:
              current shape = (1671,)
              filling on, default _FillValue of -2147483647 used),
             ('time_bnds', <class 'netCDF4._netCDF4.Variable'>
              int32 time_bnds(time, nv)
              unlimited dimensions:
              current shape = (1671, 2)
              filling on, default _FillValue of -2147483647 used),
             ('tempanomaly', <class 'netCDF4._netCDF4.Variable'>
              int16 tempanomaly(time, lat, lon)
                  long_name: Surface temperature anomaly
                  units: K
                  scale_factor: 0.01
                  cell_methods: time: mean
                  _FillValue: 32767
              unlimited dimensions:
              current shape = (1671, 90, 180)
              filling on)])

As the data requires exactly time to match, it is necessary to check how the time looks like in the file..

Pick randomly several sequential integers as indeces...

Generally we can find some rules of the time and be able to choose a proper time that suits our needs.

It is also important to mention that dates are stored in integer format...Sometimes there is also the situation of the transformation between number and date

For example, in the following examples:

Index refers to 12:15
Date refers to 1977-03-15
Number refers to 64721(.0)

In [6]:
netCDF4.num2date(data.variables['time'][12:15], units=data.variables['time'].units)

array([datetime.datetime(1881, 1, 15, 0, 0),
       datetime.datetime(1881, 2, 15, 0, 0),
       datetime.datetime(1881, 3, 15, 0, 0)], dtype=object)

In [7]:
#must specify the exact time point!!!
idx = netCDF4.date2index(datetime(1977,3,15), data.variables['time'])
num = netCDF4.date2num(datetime(1977,3,15), data.variables['time'].units)

In [8]:
temp_Mar_1977 = data.variables['tempanomaly'][idx]

In [9]:
netCDF4.num2date(num, units=data.variables['time'].units), num

(datetime.datetime(1977, 3, 15, 0, 0), 64721.0)

To be continued...